header {
    background-color: $my-gray;
}

.card {
    width: 80%;
    max-width: 500px;
    min-width: 305px;
    height: 750px;
    margin: auto;
    padding: 2rem;
    @include my-grid;
    grid-template: 2fr 1fr / 1fr;
    
    &__text {
        grid-area: 1/1/2/-1;
        height: 100%;
        margin: 0;
        background-color: $my-white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        font-size: 1.8rem;
        font-weight: 500;
        @include my-padding;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &__img {
        grid-area: 1/1/2/-1;
        align-self: end;
        position: relative;
        top: 75px;
        border: solid $my-white 5px;
        border-radius: 75px;
    }

    &__tag {
        grid-area: 2/1/-1/-1;
        width: 100%;
        height: 100%;
        background-color: $my-purple;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        @include my-flexbox(column);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &__name {
        color: $my-white;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        @include my-margin;
        margin-top: 20px;
    }

    &__website {
        color: $my-white;
        opacity: 75%;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        @include my-margin;
    }
}

@media screen and (max-width: 480px) {
    .card {
        padding: 1rem 0;
    }
}