body {
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: 'my-brands';
    src: url('../recourses/font/fa-brands-400.woff2') format('woff'), 
         url('../recourses/font/fa-brands-400.ttf') format('truetype');
  }

@font-face {
    font-family: 'my-icons';
    src: url('../recourses/font/fa-regular-400.woff2') format('woff'), 
         url('../recourses/font/fa-regular-400.ttf') format('truetype');
}

@import './constants';
@import './header';
@import './portfolio';
@import './socials';