body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 16px;
}

header {
  background-color: #c3cfe2;
}

.card {
  width: 80%;
  max-width: 500px;
  min-width: 305px;
  height: 750px;
  margin: auto;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: 2fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 2fr 1fr / 1fr;
}

.card__text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1/1/2/-1;
  height: 100%;
  margin: 0;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 50px 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1/1/2/-1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
  top: 75px;
  border: solid #fff 5px;
  border-radius: 75px;
}

.card__tag {
  grid-area: 2/1/-1/-1;
  width: 100%;
  height: 100%;
  background-color: #686de0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__name {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 10px;
  margin-top: 20px;
}

.card__website {
  color: #fff;
  opacity: 75%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 10px 10px;
}

@media screen and (max-width: 480px) {
  .card {
    padding: 1rem 0;
  }
}

section {
  background-color: #c3cfe2;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 50px 25px;
  margin: auto;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 2rem;
  width: 80%;
}

.portfolio__container {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  position: relative;
  background-color: black;
}

.portfolio__btn {
  text-align: center;
  font-weight: 600;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

.portfolio__img {
  width: 100%;
  min-height: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.portfolio__img--invisible {
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.portfolio__img--invisible:hover {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(4, 1fr)/repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    -ms-grid-rows: (1fr)[7];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(7, 1fr)/repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */